<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Cocktail Roulette</h1>
    <button>Generate a Random Cocktail</button>
    <div>
        <h2>Jack Rose Cocktail</h2>
        <div class="container">
            <img src="https://www.thecocktaildb.com/images/media/drink/uuqqrv1439907068.jpg" alt="Jack Rose Cocktail">
            <div class="recipe">
                <h3>Recipe:</h3>
                <ul>
                    <li>Apple brandy</li>
                    <li>Grenadine</li>
                    <li>Lime</li>
                </ul>
                <p>Shake all ingredients with ice, strain into a cocktail glass, and serve.</p>
                
            </div>
        </div>
    </div>
</body>
</html>